##### Core scientific packages
numpy==1.18.1
scipy==1.4.1

##### Installing Keras with TensorFlow backend
scikit-learn==0.22.1
Pillow==7.0.0
h5py==2.10.0
tensorflow==2.1.0
Keras==2.3.1

#### CV packages
imutils==0.5.3
opencv-contrib-python==4.1.2.30

# Be careful to follow a tutorial for dlib, it's a little tricky
# dlib==19.19.0

#### Useful packages
requests==2.22.0
six==1.14.0
playsound==1.2.2
